<h2>Sign Up:</h2>
<form action="/signup" method="POST">
  Email: <input type="text" name="email"><br>
  Username: <input type="text" name="username"><br>
  Password: <input type="password" name="password"><br>
  <input type="submit" value="Sign Up">
</form>
