<h2>Sign Up:</h2>

<% if flash.has?(:error) %>
<p class="flash-error"><%= flash[:error] %></p>
<% end %>

<form action="/signup" method="POST">
  Email: <input type="text" name="email"><br>
  Username: <input type="text" name="username"><br>
  Password: <input type="password" name="password"><br>
  <br>
  <input type="submit" value="Sign Up">
</form>
