<h2>Add a new book to your reading list...</h2>

<% if flash.has?(:error) %>
<p class="flash-error" id="flash-error"><%= flash[:error] %></p>
<% end %>

<form action="/books" method="POST">
  Title: <input type="text" name="title"><br>
  Author: <input type="text" name="author"><br>
  Year Of Publication: <input type="text" name="year_of_publication"><br>
  Category: Fiction <input type="radio" name="category" value="Fiction">
    Non-Fiction <input type="radio" name="category" value="Non-Fiction">
    Poetry <input type="radio" name="category" value="Poetry">
    Drama <input type="radio" name="category" value="Drama"><br>
  Genre: <input type="text" name="genre"><br>
  Progress: Unread <input type="radio" name="progress" value="Unread">
    In Progress <input type="radio" name="progress" value="In Progress">
    Finished <input type="radio" name="progress" value="Finished"><br>
  Rating (0-5 low to high): 0 <input type="radio" name="user_rating" value="0">
    1 <input type="radio" name="user_rating" value="1">
    2 <input type="radio" name="user_rating" value="2">
    3 <input type="radio" name="user_rating" value="3">
    4 <input type="radio" name="user_rating" value="4">
    5 <input type="radio" name="user_rating" value="5"><br>
  Your Thoughts On This Book: <input type="textarea" name="user_review"><br>
  <input type="submit" value="Add New Book">
</form>

<form action="/logout" method="POST">
  <input type="submit" value="Log Out">
</form>
